/* General page styling */
body {
    font-family: 'Times New Roman';
    color:black;
    background-color: #FFD7EE;
}

/* Main Heading */
h1 {
    font-family: 'Roboto Slab';
    font-size: 40px;
    color: #FFFFFF;
}
a {
    font-family: 'Times New Roman';
    font-size: 14px;
    line-height: 1.5;
    color: #000000;
}
nav {
    background-color: #FFD7EE;
    padding: 16px;
    text-align: center;
}
nav a {
    color: white;
    margin: 0 16px;
    text-decoration: none;
}
