/* General page styling */
body {
        font-family: 'Times New Roman'
        background-color #FFC5D3
}

/* Main heading */
h1 {
    font-family: Roboto slab; 
        font-size: 40px; 
        color: #FFFFFF;
}
/* paragraphs */
p {
    font-family: 'Times New Roman';
        font-size: 18px;
        color: #FFFFFF;
}